<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.smashsmashin.authoridassistant">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> Removed -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" /> <!-- Required for foregroundServiceType="specialUse" on API 34+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <!-- For Android 13+ (API 33) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".AuthorIDAssistantApp"
        android:allowBackup="true"
        android:label="Author ID Assistant"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Monitors device status to automate Author ID app." />
        </service>

        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AuthorIDAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>
